/*
========================================
Reset
========================================
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    border-collapse: collapse;
}

:root {
    font-size: 1em;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
========================================
Body Styling
========================================
*/

.video-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 18, 28, 1);
    
/*
    background: linear-gradient(270deg, #0a121c, #0a121c, #35a796, #0a121c, #0a121c);
    background-size: 1000% 1000%;
    animation: AnimationName 3s ease infinite;
*/
    
    height: 70vh;
    width: 100vw;
    padding: 0;
}


/*https://www.gradient-animator.com/*/
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/*https://stackoverflow.com/questions/11122249/scale-iframe-css-width-100-like-an-image*/
.iframe-ratio {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-height: auto;
}

.iframe-ratio #ratio-image {
    display: block;
    width: 100%;
    height: auto;
    visibility: hidden;
}

.iframe-ratio iframe {
    position:absolute;
    top :0;
    left: 0;
    width: 100%;
    height: 100%;
}

#closed-captions {
    width: 50%;
    margin: auto;
}

.text-area {
    background-color: rgba(25, 35, 50, 1);
    height: 30vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    transition: background-color 2s ease;
}

/*
========================================
Visual effects
========================================
*/

.alarms-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    width: 100vw;
    height: 70vh; 
}

.alarms:first-child {
    display: flex;
    flex-direction: column;
    width: 15vw;
    position: absolute;
    left: 0;
    top: auto;
}

.alarms:last-child {
    display: flex;
    flex-direction: column;
    width: 15vw;
    position: absolute;
    right: 0;
    top: auto;
}

.alarm-red {
    margin: 5vh auto;
    width: 2em;
    height: 2em;
    background-color: rgba(99, 4, 4, 1);
    box-shadow: 0px 0px 15px 1px rgba(0 ,0 ,0 ,1), inset 0px 0px 10px 3px rgba(99, 4, 4, 0.9);
    border-radius: 50%;
}

@keyframes biep-rood {
    0% { 
        background-color: rgba(99, 4, 4, 1);
    }
    50% {
        background-color: #e81717;
        box-shadow: 0px 0px 10px 4px rgba(232,23,23,.5), inset 0px 0px 10px 3px rgba(99,4,4,0.4);
        
    }
    100% {
        background-color: rgba(99, 4, 4, 1);
    }
}

/*
========================================
Text Styling
========================================
*/

#closed-captions p.intercom {
    font-family: "Brenner Sans";
    background-color: #6b6b6b;
    font-style: Normal;
    font-weight: 600;
    text-align: center;
    align-self: center;
}

#closed-captions p.Leon {
    font-family: "Brenner Sans";
    font-style: Normal;
    font-weight: 600;
    background-color: #36a35b;
    align-self: flex-start;
}

#closed-captions p.Holden {
    font-family: "Brenner Sans";
    font-style: Normal;
    font-weight: 800;
    background-color: #3571a7;
    align-self: flex-end;
}

/*
========================================
Text Movement
========================================
*/

.text-area div {
    position: absolute;
    top: 0vh;
    left: 0;
    right: 0;
    top: 0vh;
    display: flex;
    flex-direction: column-reverse;
    transform: translateY(-100%);
    transition: all .3s ease;
}

div.moveDown0 {
    transform: translateY(calc(-100% - -1em + 2em + 0.8em));
}
div.moveDown1 {
    transform: translateY(calc(-100% - -2em + 4em + 2.4em));
}
div.moveDown2 {
    transform: translateY(calc(-100% - -3em + 6em + 4em));
}
div.moveDown3 {
    transform: translateY(calc(-100% - -4em + 8em + 5.6em));
}
div.moveDown4 {
    transform: translateY(calc(-100% - -5em + 10em + 7.2em));
}
div.moveDown5 {
    transform: translateY(calc(-100% - -6em + 12em + 8.8em));
}
div.moveDown6 {
    transform: translateY(calc(-100% - -7em + 14em + 10.4em));
}
div.moveDown7 {
    transform: translateY(calc(-100% - -8em + 16em + 12em));
}
div.moveDown8 {
    transform: translateY(calc(-100% - -9em + 18em + 13.6em));
}
div.moveDown9 {
    transform: translateY(calc(-100% - -10em + 20em + 15.2em));
}
div.moveDown10 {
    transform: translateY(calc(-100% - -11em + 22em + 16.8em));
}
div.moveDown11 {
    transform: translateY(calc(-100% - -12em + 24em + 18.4em));
}
div.moveDown12 {
    transform: translateY(calc(-100% - -13em + 26em + 20em));
}
div.moveDown13 {
    transform: translateY(calc(-100% - -14em + 28em + 21.6em));
}
div.moveDown14 {
    transform: translateY(calc(-100% - -15em + 30em + 23.2em));
}
div.moveDown15 {
    transform: translateY(calc(-100% - -16em + 32em + 24.8em));
}
div.moveDown16 {
    transform: translateY(calc(-100% - -17em + 34em + 26.4em));
}
div.moveDown17 {
    transform: translateY(calc(-100% - -18em + 36em + 28.8em));
}
div.moveDown18 {
    transform: translateY(calc(-100% - -19em + 38em + 29.6em));
}
div.moveDown19 {
    transform: translateY(calc(-100% - -20em + 40em + 31.2em));
}
div.moveDown20 {
    transform: translateY(calc(-100% - -21em + 42em + 32.8em));
}
div.moveDown21 {
    transform: translateY(calc(-100% - -22em + 44em + 34.4em));
}
div.moveDown22 {
    transform: translateY(calc(-100% - -23em + 46em + 36em));
}
div.moveDown23 {
    transform: translateY(calc(-100% - -24em + 48em + 37.6em));
}
div.moveDown24 {
    transform: translateY(calc(-100% - -25.3em + 50em + 39.2em));
}
div.moveDown25 {
    transform: translateY(calc(-100% - -26.3em + 52em + 40.8em));
}
div.moveDown26 {
    transform: translateY(calc(-100% - -27.3em + 54em + 42.4em));
}
div.moveDown27 {
    transform: translateY(calc(-100% - -28.3em + 56em + 44em));
}
div.moveDown28 {
    transform: translateY(calc(-100% - -29.3em + 58em + 45.6em));
}
div.moveDown29 {
    transform: translateY(calc(-100% - -30.6em + 60em + 47.2em));
}
div.moveDown30 {
    transform: translateY(calc(-100% - -31.6em + 62em + 48.8em));
}
div.moveDown31 {
    transform: translateY(calc(-100% - -32.6em + 64em + 50.4em));
}
div.moveDown32 {
    transform: translateY(calc(-100% - -33.6em + 66em + 52em));
}
div.moveDown33 {
    transform: translateY(calc(-100% - -34.6em + 68em + 53.6em));
}
div.moveDown34 {
    transform: translateY(calc(-100% - -35.6em + 70em + 55.2em));
}
div.moveDown35 {
    transform: translateY(calc(-100% - -36.9em + 72em + 56.8em));
}
div.moveDown36 {
    transform: translateY(calc(-100% - -37.9em + 74em + 58.4em));
}
div.moveDown37 {
    transform: translateY(calc(-100% - -38.9em + 76em + 60em));
}
div.moveDown38 {
    transform: translateY(calc(-100% - -39.9em + 78em + 61.6em));
}
div.moveDown39 {
    transform: translateY(calc(-100% - -41.2em + 80em + 63.2em));
}
div.moveDown40 {
    transform: translateY(calc(-100% - -42.2em + 82em + 64.8em));
}
div.moveDown41 {
    transform: translateY(calc(-100% - -43.2em + 84em + 66.4em));
}
div.moveDown42 {
    transform: translateY(calc(-100% - -44.2em + 86em + 68em));
}
div.moveDown43 {
    transform: translateY(calc(-100% - -45.2em + 88em + 69.6em));
}
div.moveDown44 {
    transform: translateY(calc(-100% - -46.2em + 90em + 71.2em));
}
div.moveDown45 {
    transform: translateY(calc(-100% - -47.2em + 92em + 72.8em));
}
div.moveDown46 {
    transform: translateY(calc(-100% - -48.2em + 94em + 74.4em));
}
div.moveDown47 {
    transform: translateY(calc(-100% - -49.2em + 96em + 76em));
}
div.moveDown48 {
    transform: translateY(calc(-100% - -50.3em + 98em + 77.6em));
}
div.moveDown49 {
    transform: translateY(calc(-100% - -51.4em + 100em + 79.2em));
}
div.moveDown50 {
    transform: translateY(calc(-100% - -52.4em + 102em + 80.8em));
}
div.moveDown51 {
    transform: translateY(calc(-100% - -53.4em + 104em + 82.4em));
}
div.moveDown52 {
    transform: translateY(calc(-100% - -54.4em + 106em + 84em));
}
div.moveDown53 {
    transform: translateY(calc(-100% - -55.4em + 108em + 85.6em));
}
div.moveDown54 {
    transform: translateY(calc(-100% - -56.4em + 110em + 87.2em));
}
div.moveDown55 {
    transform: translateY(calc(-100% - -57.4em + 112em + 88.8em));
}
div.moveDown56 {
    transform: translateY(calc(-100% - -58.4em + 114em + 90.4em));
}
div.moveDown57 {
    transform: translateY(calc(-100% - -59.4em + 116em + 92em));
}
div.moveDown58 {
    transform: translateY(calc(-100% - -60.5em + 118em + 93.6em));
}
div.moveDown59 {
    transform: translateY(calc(-100% - -61.6em + 120em + 95.2em));
}
div.moveDown60 {
    transform: translateY(calc(-100% - -62.7em + 122em + 96.8em));
}
div.moveDown61 {
    transform: translateY(calc(-100% - -63.8em + 124em + 98.4em));
}
div.moveDown62 {
    transform: translateY(calc(-100% - -64.9em + 126em + 100em));
}
div.moveDown63 {
    transform: translateY(calc(-100% - -66.2em + 128em + 101.6em));
}
div.moveDown64 {
    transform: translateY(calc(-100% - -67.3em + 130em + 103.2em));
}
div.moveDown65 {
    transform: translateY(calc(-100% - -68.4em + 132em + 104.8em));
}
div.moveDown66 {
    transform: translateY(calc(-100% - -69.4em + 134em + 106.4em));
}
div.moveDown67 {
    transform: translateY(calc(-100% - -70.4em + 136em + 108em));
}
div.moveDown68 {
    transform: translateY(calc(-100% - -71.4em + 138em + 109.6em));
}
div.moveDown69 {
    transform: translateY(calc(-100% - -72.4em + 140em + 111.2em));
}
div.moveDown70 {
    transform: translateY(calc(-100% - -73.4em + 142em + 112.8em));
}
div.moveDown71 {
    transform: translateY(calc(-100% - -74.4em + 144em + 114.4em));
}
div.moveDown72 {
    transform: translateY(calc(-100% - -75.4em + 146em + 116em));
}
div.moveDown73 {
    transform: translateY(calc(-100% - -76.4em + 148em + 117.6em));
}
div.moveDown74 {
    transform: translateY(calc(-100% - -77.4em + 150em + 119.2em));
}
div.moveDown75 {
    transform: translateY(calc(-100% - -78.4em + 152em + 120.8em));
}
div.moveDown76 {
    transform: translateY(calc(-100% - -79.4em + 154em + 122.4em));
}
div.moveDown77 {
    transform: translateY(calc(-100% - -80.4em + 156em + 124em));
}
div.moveDown78 {
    transform: translateY(calc(-100% - -81.4em + 158em + 125.6em));
}


/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

/*
========================================
Text Animations
========================================
*/

#closed-captions p {
	opacity: 0;
/*	position: relative;*/
/*    top: 0;*/
    color: #fff;
    font-size: 1em;
/*    margin: auto;*/
    margin-top: 2em;
    padding: .8em 2em;
/*    text-align: center;*/
/*    transform: translateY(-5vw);*/
    transition: all .5s;
    border-radius: .4em;
}

#closed-captions .on {
	opacity: 1;
}
/*

#closed-captions .off {
    animation: fade 2s ease forwards;
}
*/

.sound0 .video-area #video-placeholder {
    
}

@keyframes fade {
    0% {
        opacity: 1; 
    }
    90% {
        opacity: 1; 
    }
    100% {
        opacity: 0;
    }
}


/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */

.p11.on span:first-of-type {
    font-size: 1em;
	transition: all .3s ease;
}
.p11.on span:nth-of-type(7) {
	font-size: 0.9em;
}
.p11.on span:nth-of-type(8) {
	font-size: 0.8em;
}
.p11.on span:nth-of-type(9) {
	font-size: 0.7em;
}

.p17.on span:first-of-type {
	transition: all .3s ease;
}
.p17.on span:nth-of-type(4) {
	font-size: 0.9em;
}
.p17.on span:nth-of-type(5) {
	font-size: 0.8em;
}
.p17.on span:nth-of-type(6) {
	font-size: 0.7em;
}
.p17.on span:nth-of-type(7) {
	font-size: 0.6em;
}
.p17.on span:nth-of-type(8) {
	font-size: 0.5em;
}

.p24.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.3em;
    font-family: "Brenner MONO";
    font-style: italic;
}
.p24.on span:after {
	content: "?!";
}

.p29.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.3em;
    font-family: "Brenner MONO";
    font-style: italic;
}

.p33.on span:first-of-type {
    font-size: 1em;
	transition: all .3s ease;
}
.p33.on span:nth-of-type(4) {
	font-size: 0.9em;
}
.p33.on span:nth-of-type(5) {
	font-size: 0.8em;
}
.p33.on span:nth-of-type(6) {
	font-size: 0.7em;
}

.p35.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.3em;
    font-family: "Brenner MONO";
    font-style: italic;
}

.p37.on span:first-of-type {
    font-size: 1em;
	transition: all .3s ease;
}.p37.on span:nth-of-type(5) {
	font-size: 0.9em;
}
.p37.on span:nth-of-type(6) {
	font-size: 0.8em;
}
.p37.on span:nth-of-type(7) {
	font-size: 0.7em;
}
.p37.on span:nth-of-type(8) {
	font-size: 0.6em;
}

.p39.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.3em;
    font-family: "Brenner MONO";
    font-style: italic;
}
.p39.on span:after {
	content: "!";
}

.p47.on span:first-of-type {
    font-size: 1em;
	transition: all .3s ease;
}
.p47.on span:nth-of-type(3) {
	font-size: 0.9em;
}
.p47.on span:nth-of-type(4) {
	font-size: 0.8em;
}

.p48.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.1em;
    font-family: "Brenner MONO";
    font-style: italic;
}

.p49.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.1em;
    font-family: "Brenner MONO";
    font-style: italic;
}

.p58.on span,
.p59.on span,
.p60.on span,
.p61.on span,
.p62.on span,
.p64.on span,
.p65.on span {
	transition: all .3s ease;
    font-size: 1.1em;
    font-family: "Brenner Sans Condensed";
    font-style: Italic;
    font-weight: 800;
}

.p63.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.3em;
    font-family: "Brenner MONO";
    font-style: italic;
}

/*
========================================
Sound Animations
========================================
*/

.sound0 .video-area #video-placeholder {
    animation: knock .7s ease forwards;
}

@keyframes knock {
    0% {
        transform: rotate(0deg);
    }
    16.5% {
        transform: rotate(2deg);
    }
    33% {
        transform: rotate(0deg);
    }
    49.5% {
        transform: rotate(2deg);
    }
    66% {
        transform: rotate(0deg);
    }
    82.5% {
        transform: rotate(2deg);
    }    
    100% {
        transform: rotate(0deg);
    }
}

.sound2 .alarm-red {
    animation: biep-rood 4.2s infinite;
    animation-timing-function: cubic-bezier:(0,.3,1,.7);
}

.sound5 .text-area {
    background-color: rgba(48, 25, 25, 1);
}
.sound5 .video-area {
    background-color: rgba(30, 11, 11, 1);
}

.sound6 .text-area {
    background-color: rgba(25, 35, 50, 1);
}
.sound6 .video-area {
    background-color: rgba(10, 18, 28, 1);
}

/*
========================================
Media Queries
========================================
*/

@media screen and (max-width: 840px) {
    #closed-captions {
        width: 65%;
        margin: auto;
    }
}

@media screen and (max-width: 640px) {
    .video-area .iframe-ratio {
        width: 90%;
    }
    
    #closed-captions {
        width: 90%;
        margin: auto;
    }
    
    .alarms-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: absolute;
        width: 100vw;
        height: 70vh;
    }

    .alarms:first-child {
        display: flex;
        flex-direction: row;
        width: 100vw;
        position: absolute;
        left: 0;
        top: 0;
    }

    .alarms:last-child {
        display: flex;
        flex-direction: row;
        width: 100vw;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .alarm-red {
        width: 2em;
        height: 2em;
        background-color: rgba(99, 4, 4, 1);
        box-shadow: 0px 0px 15px 1px rgba(0 ,0 ,0 ,1), inset 0px 0px 10px 3px rgba(99, 4, 4, 0.9);
        border-radius: 50%;
    }
}