/*
========================================
Reset
========================================
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    border-collapse: collapse;
}

:root {
    font-size: 1em;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
========================================
Body Styling
========================================
*/

.video-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 18, 28, 1);
    height: 70vh;
    width: 100vw;
    padding: 0;
}

/*https://stackoverflow.com/questions/11122249/scale-iframe-css-width-100-like-an-image*/
.iframe-ratio {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-height: auto;
}

.iframe-ratio #ratio-image {
    display: block;
    width: 100%;
    height: auto;
    visibility: hidden;
}

.iframe-ratio iframe {
    position:absolute;
    top :0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 640px) {
  .video-area .iframe-ratio {
    width: 90%;
  }
}

.text-area {
    background-color: rgba(25, 35, 50, 1);
    height: 30vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    transition: background-color 2s ease-out;
}

/*
========================================
Text Styling
========================================
*/

.intercom {
    font-family: "Brenner Sans";
    background-color: #6b6b6b;
    font-style: Normal;
    font-weight: 600;
}

.Leon {
    font-family: "Brenner Sans";
    font-style: Normal;
    font-weight: 600;
    background-color: #36a35b;
}

.Holden {
    font-family: "Brenner Sans";
    font-style: Normal;
    font-weight: 800;
    background-color: #3571a7;
    align-self: flex-end;
}

.knock {
    font-family: "Brenner Sans";
    background-color: #6b6b6b;
    font-style: Normal;
    font-weight: 600;
    position: absolute;
    top: 100px;
}

/*
========================================
Text Movement
========================================
*/

.text-area div {
    position: absolute;
    top: 0vh;
    left: 0;
    right: 0;
    top: 0vh;
    display: flex;
    flex-direction: column-reverse;
    transform: translateY(-100%);
}

div.moveDown0 {
    transform: translateY(calc(-100% - -1em + 2em + 0.8em));
}
div.moveDown1 {
    transform: translateY(calc(-100% - -2em + 4em + 2.4em));
}
div.moveDown2 {
    transform: translateY(calc(-100% - -3em + 6em + 4em));
}
div.moveDown3 {
    transform: translateY(calc(-100% - -4em + 8em + 5.6em));
}
div.moveDown4 {
    transform: translateY(calc(-100% - -5em + 10em + 7.2em));
}
div.moveDown5 {
    transform: translateY(calc(-100% - -6em + 12em + 8.8em));
}
div.moveDown6 {
    transform: translateY(calc(-100% - -7em + 14em + 10.4em));
}
div.moveDown7 {
    transform: translateY(calc(-100% - -8em + 16em + 12em));
}
div.moveDown8 {
    transform: translateY(calc(-100% - -9em + 18em + 13.6em));
}
div.moveDown9 {
    transform: translateY(calc(-100% - -10em + 20em + 15.2em));
}
div.moveDown10 {
    transform: translateY(calc(-100% - -11em + 22em + 16.8em));
}
div.moveDown11 {
    transform: translateY(calc(-100% - -12em + 24em + 18.4em));
}
div.moveDown12 {
    transform: translateY(calc(-100% - -13em + 26em + 20em));
}
div.moveDown13 {
    transform: translateY(calc(-100% - -14em + 28em + 21.6em));
}
div.moveDown14 {
    transform: translateY(calc(-100% - -15em + 30em + 23.2em));
}
div.moveDown15 {
    transform: translateY(calc(-100% - -16em + 32em + 24.8em));
}
div.moveDown16 {
    transform: translateY(calc(-100% - -17em + 34em + 26.4em));
}
div.moveDown17 {
    transform: translateY(calc(-100% - -18em + 36em + 28.8em));
}
div.moveDown18 {
    transform: translateY(calc(-100% - -19em + 38em + 29.6em));
}
div.moveDown19 {
    transform: translateY(calc(-100% - -20em + 40em + 31.2em));
}
div.moveDown20 {
    transform: translateY(calc(-100% - -21em + 42em + 32.8em));
}


/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

/*
========================================
Text Animations
========================================
*/

#closed-captions p {
	opacity: 1;
	transition: .05s;
/*	position: relative;*/
    top: 0;
    color: #fff;
    font-size: 1em;
    margin: auto;
    margin-top: 2em;
    padding: .8em 2em;
    text-align: center;
/*    transform: translateY(-5vw);*/
    transition: all .5s;
    border-radius: .4em;
}

#closed-captions .on {
    transition: all .3s;
	opacity: 1;
}

#closed-captions .off {
    animation: fade 2s ease forwards;
}

.sound0 .video-area #video-placeholder {
    
}

@keyframes fade {
    0% {
        opacity: 1; 
    }
    90% {
        opacity: 1; 
    }
    100% {
        opacity: 0;
    }
}


/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */

.p18.on span:first-of-type {
	transition: all .3s ease;
}
.p18.on span:nth-of-type(5) {
	font-size: 0.9em;
}
.p18.on span:nth-of-type(6) {
	font-size: 0.8em;
}
.p18.on span:nth-of-type(7) {
	font-size: 0.7em;
}
.p18.on span:nth-of-type(8) {
	font-size: 0.6em;
}
.p18.on span:nth-of-type(9) {
	font-size: 0.5em;
}

.p25.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.3em;
    font-family: "Brenner MONO";
    font-style: italic;
}
.p25.on span:after {
	content: "?!";
}

.p30.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.3em;
    font-family: "Brenner MONO";
    font-style: italic;
}

.p34.on span:first-of-type {
    font-size: 1em;
	transition: all .3s ease;
}
.p34.on span:nth-of-type(4) {
	font-size: 0.9em;
}
.p34.on span:nth-of-type(5) {
	font-size: 0.8em;
}
.p34.on span:nth-of-type(6) {
	font-size: 0.7em;
}

.p36.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.3em;
    font-family: "Brenner MONO";
    font-style: italic;
}

.p38.on span:first-of-type {
    font-size: 1em;
	transition: all .3s ease;
}.p38.on span:nth-of-type(5) {
	font-size: 0.9em;
}
.p38.on span:nth-of-type(6) {
	font-size: 0.8em;
}
.p38.on span:nth-of-type(7) {
	font-size: 0.7em;
}
.p38.on span:nth-of-type(8) {
	font-size: 0.6em;
}

.p40.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.3em;
    font-family: "Brenner MONO";
    font-style: italic;
}
.p40.on span:after {
	content: "!";
}

.p48.on span:first-of-type {
    font-size: 1em;
	transition: all .3s ease;
}
.p48.on span:nth-of-type(3) {
	font-size: 0.9em;
}
.p48.on span:nth-of-type(4) {
	font-size: 0.8em;
}

.p49.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.1em;
    font-family: "Brenner MONO";
    font-style: italic;
}

.p50.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.1em;
    font-family: "Brenner MONO";
    font-style: italic;
}

.p60.on span,
.p61.on span,
.p62.on span,
.p63.on span,
.p64.on span,
.p66.on span,
.p67.on span {
	transition: all .3s ease;
    font-size: 1.1em;
    font-family: "Brenner Sans Condensed";
    font-style: Italic;
    font-weight: 800;
}

.p65.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.3em;
    font-family: "Brenner MONO";
    font-style: italic;
}

/*
========================================
Sound Animations
========================================
*/

.sound0 .video-area #video-placeholder {
    animation: knock .7s ease forwards;
}

@keyframes knock {
    0% {
        transform: rotate(0deg);
    }
    16.5% {
        transform: rotate(5deg);
    }
    33% {
        transform: rotate(0deg);
    }
    49.5% {
        transform: rotate(5deg);
    }
    66% {
        transform: rotate(0deg);
    }
    82.5% {
        transform: rotate(5deg);
    }    
    100% {
        transform: rotate(0deg);
    }
}

.sound1 .text-area {
    background-color: rgba(48, 25, 25, 1);
}
.sound1 .video-area {
    background-color: rgba(30, 11, 11, 1);
}

.sound2 .text-area {
    background-color: rgba(25, 35, 50, 1);
}
.sound2 .video-area {
    background-color: rgba(10, 18, 28, 1);
}