/*
========================================
Reset
========================================
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    border-collapse: collapse;
}

:root {
    font-size: 1em;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
========================================
Body Styling
========================================
*/

body {
    overflow: hidden; 
}

.video-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 18, 28, 1);    
    height: 70vh;
    width: 100vw;
    padding: 0;
    transition: background .3s ease;
}

/*https://stackoverflow.com/questions/11122249/scale-iframe-css-width-100-like-an-image*/
.iframe-ratio {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-height: auto;
}

.iframe-ratio #ratio-image {
    display: block;
    width: 100%;
    height: auto;
    visibility: hidden;
}

.iframe-ratio iframe {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#closed-captions {
    width: 50%;
    margin: auto;
    z-index: 1;
}

.text-area {
    background-color: rgba(25, 35, 50, 1);
    height: 30vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    transition: background-color 2s ease;
}

/*https://cssgradient.io/*/
.Leon-emotion {
    position: absolute;
    height: 30vh;
    width: 50vw;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 237, 211, 1);
    background: linear-gradient(90deg, rgba(5,237,211,1) 0%, rgba(25,35,50,0) 100%);
    transform: translateX(-50vw);
}

/*https://cssgradient.io/*/
.Holden-emotion {
    position: absolute;
    height: 30vh;
    width: 50vw;
    bottom: 0;
    right: 0;
    background-color: rgba(247, 158, 2, 1);
    background: linear-gradient(270deg, rgba(247,158,2,1) 0%, rgba(25,35,50,0) 100%);
    transform: translateX(50vw);
}

/*
========================================
Visual effects
========================================
*/

.alarms-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    width: 100vw;
    height: 70vh; 
}

.alarms:first-child {
    display: flex;
    flex-direction: column;
    width: 15vw;
    position: absolute;
    left: 0;
    top: auto;
}

.alarms:last-child {
    display: flex;
    flex-direction: column;
    width: 15vw;
    position: absolute;
    right: 0;
    top: auto;
}

.alarm-red {
    margin: 5vh auto;
    width: 5vw;
    height: 5vw;
    background-color: rgba(99, 4, 4, 1);
    box-shadow: 0px 0px 15px 1px rgba(0 ,0 ,0 ,1), inset 0px 0px 10px 3px rgba(99, 4, 4, 0.9);
    border-radius: 50%;
}

/*
========================================
Text Styling
========================================
*/

#closed-captions p.intercom {
    font-family: "Brenner MONO";
    background-color: #6b6b6b;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    align-self: center;
}

#closed-captions p.Leon {
    font-family: "Brenner Sans";
    font-style: Normal;
    font-weight: 400;
    background-color: #36a35b;
    align-self: flex-start;
}

#closed-captions p.Holden {
    font-family: "Brenner Slab";
    font-style: Normal;
    font-weight: 600;
    background-color: #3571a7;
    align-self: flex-end;
}

/*
========================================
Text Movement
========================================
*/

.text-area div {
    position: absolute;
    top: 0vh;
    left: 0;
    right: 0;
    top: 0vh;
    display: flex;
    flex-direction: column-reverse;
    transform: translateY(-100%);
    transition: all .3s ease;
}

div.moveDown0 {
    transform: translateY(calc(-100% - -1em + 2em + 0.8em));
}
div.moveDown1 {
    transform: translateY(calc(-100% - -2em + 4em + 2.4em));
}
div.moveDown2 {
    transform: translateY(calc(-100% - -3em + 6em + 4em));
}
div.moveDown3 {
    transform: translateY(calc(-100% - -4em + 8em + 5.6em));
}
div.moveDown4 {
    transform: translateY(calc(-100% - -5em + 10em + 7.2em));
}
div.moveDown5 {
    transform: translateY(calc(-100% - -6em + 12em + 8.8em));
}
div.moveDown6 {
    transform: translateY(calc(-100% - -7em + 14em + 10.4em));
}
div.moveDown7 {
    transform: translateY(calc(-100% - -8em + 16em + 12em));
}
div.moveDown8 {
    transform: translateY(calc(-100% - -9em + 18em + 13.6em));
}
div.moveDown9 {
    transform: translateY(calc(-100% - -10em + 20em + 15.2em));
}
div.moveDown10 {
    transform: translateY(calc(-100% - -11em + 22em + 16.8em));
}
div.moveDown11 {
    transform: translateY(calc(-100% - -12em + 24em + 18.4em));
}
div.moveDown12 {
    transform: translateY(calc(-100% - -13em + 26em + 20em));
}
div.moveDown13 {
    transform: translateY(calc(-100% - -14em + 28em + 21.6em));
}
div.moveDown14 {
    transform: translateY(calc(-100% - -15em + 30em + 23.2em));
}
div.moveDown15 {
    transform: translateY(calc(-100% - -16em + 32em + 24.8em));
}
div.moveDown16 {
    transform: translateY(calc(-100% - -17em + 34em + 26.4em));
}
div.moveDown17 {
    transform: translateY(calc(-100% - -18em + 36em + 28.8em));
}
div.moveDown18 {
    transform: translateY(calc(-100% - -19em + 38em + 29.6em));
}
div.moveDown19 {
    transform: translateY(calc(-100% - -20em + 40em + 31.2em));
}
div.moveDown20 {
    transform: translateY(calc(-100% - -21em + 42em + 32.8em));
}
div.moveDown21 {
    transform: translateY(calc(-100% - -22em + 44em + 34.4em));
}
div.moveDown22 {
    transform: translateY(calc(-100% - -23em + 46em + 36em));
}
div.moveDown23 {
    transform: translateY(calc(-100% - -24em + 48em + 37.6em));
}
div.moveDown24 {
    transform: translateY(calc(-100% - -25.3em + 50em + 39.2em));
}
div.moveDown25 {
    transform: translateY(calc(-100% - -26.3em + 52em + 40.8em));
}
div.moveDown26 {
    transform: translateY(calc(-100% - -27.3em + 54em + 42.4em));
}
div.moveDown27 {
    transform: translateY(calc(-100% - -28.3em + 56em + 44em));
}
div.moveDown28 {
    transform: translateY(calc(-100% - -29.3em + 58em + 45.6em));
}
div.moveDown29 {
    transform: translateY(calc(-100% - -30.6em + 60em + 47.2em));
}
div.moveDown30 {
    transform: translateY(calc(-100% - -31.6em + 62em + 48.8em));
}
div.moveDown31 {
    transform: translateY(calc(-100% - -32.6em + 64em + 50.4em));
}
div.moveDown32 {
    transform: translateY(calc(-100% - -33.6em + 66em + 52em));
}
div.moveDown33 {
    transform: translateY(calc(-100% - -34.6em + 68em + 53.6em));
}
div.moveDown34 {
    transform: translateY(calc(-100% - -35.6em + 70em + 55.2em));
}
div.moveDown35 {
    transform: translateY(calc(-100% - -36.9em + 72em + 56.8em));
}
div.moveDown36 {
    transform: translateY(calc(-100% - -37.9em + 74em + 58.4em));
}
div.moveDown37 {
    transform: translateY(calc(-100% - -38.9em + 76em + 60em));
}
div.moveDown38 {
    transform: translateY(calc(-100% - -39.9em + 78em + 61.6em));
}
div.moveDown39 {
    transform: translateY(calc(-100% - -41.2em + 80em + 63.2em));
}
div.moveDown40 {
    transform: translateY(calc(-100% - -42.2em + 82em + 64.8em));
}
div.moveDown41 {
    transform: translateY(calc(-100% - -43.2em + 84em + 66.4em));
}
div.moveDown42 {
    transform: translateY(calc(-100% - -44.2em + 86em + 68em));
}
div.moveDown43 {
    transform: translateY(calc(-100% - -45.2em + 88em + 69.6em));
}
div.moveDown44 {
    transform: translateY(calc(-100% - -46.2em + 90em + 71.2em));
}
div.moveDown45 {
    transform: translateY(calc(-100% - -47.2em + 92em + 72.8em));
}
div.moveDown46 {
    transform: translateY(calc(-100% - -48.2em + 94em + 74.4em));
}
div.moveDown47 {
    transform: translateY(calc(-100% - -49.2em + 96em + 76em));
}
div.moveDown48 {
    transform: translateY(calc(-100% - -50.3em + 98em + 77.6em));
}
div.moveDown49 {
    transform: translateY(calc(-100% - -51.4em + 100em + 79.2em));
}
div.moveDown50 {
    transform: translateY(calc(-100% - -52.4em + 102em + 80.8em));
}
div.moveDown51 {
    transform: translateY(calc(-100% - -53.4em + 104em + 82.4em));
}
div.moveDown52 {
    transform: translateY(calc(-100% - -54.4em + 106em + 84em));
}
div.moveDown53 {
    transform: translateY(calc(-100% - -55.4em + 108em + 85.6em));
}
div.moveDown54 {
    transform: translateY(calc(-100% - -56.4em + 110em + 87.2em));
}
div.moveDown55 {
    transform: translateY(calc(-100% - -57.4em + 112em + 88.8em));
}
div.moveDown56 {
    transform: translateY(calc(-100% - -58.4em + 114em + 90.4em));
}
div.moveDown57 {
    transform: translateY(calc(-100% - -59.4em + 116em + 92em));
}
div.moveDown58 {
    transform: translateY(calc(-100% - -60.5em + 118em + 93.6em));
}
div.moveDown59 {
    transform: translateY(calc(-100% - -61.6em + 120em + 95.2em));
}
div.moveDown60 {
    transform: translateY(calc(-100% - -62.7em + 122em + 96.8em));
}
div.moveDown61 {
    transform: translateY(calc(-100% - -63.8em + 124em + 98.4em));
}
div.moveDown62 {
    transform: translateY(calc(-100% - -64.9em + 126em + 100em));
}
div.moveDown63 {
    transform: translateY(calc(-100% - -66.2em + 128em + 101.6em));
}
div.moveDown64 {
    transform: translateY(calc(-100% - -67.3em + 130em + 103.2em));
}
div.moveDown65 {
    transform: translateY(calc(-100% - -68.4em + 132em + 104.8em));
}
div.moveDown66 {
    transform: translateY(calc(-100% - -69.4em + 134em + 106.4em));
}
div.moveDown67 {
    transform: translateY(calc(-100% - -70.4em + 136em + 108em));
}
div.moveDown68 {
    transform: translateY(calc(-100% - -71.4em + 138em + 109.6em));
}
div.moveDown69 {
    transform: translateY(calc(-100% - -72.4em + 140em + 111.2em));
}
div.moveDown70 {
    transform: translateY(calc(-100% - -73.4em + 142em + 112.8em));
}
div.moveDown71 {
    transform: translateY(calc(-100% - -74.4em + 144em + 114.4em));
}
div.moveDown72 {
    transform: translateY(calc(-100% - -75.4em + 146em + 116em));
}
div.moveDown73 {
    transform: translateY(calc(-100% - -76.4em + 148em + 117.6em));
}
div.moveDown74 {
    transform: translateY(calc(-100% - -77.4em + 150em + 119.2em));
}
div.moveDown75 {
    transform: translateY(calc(-100% - -78.4em + 152em + 120.8em));
}
div.moveDown76 {
    transform: translateY(calc(-100% - -79.4em + 154em + 122.4em));
}
div.moveDown77 {
    transform: translateY(calc(-100% - -80.4em + 156em + 124em));
}
div.moveDown78 {
    transform: translateY(calc(-100% - -81.4em + 158em + 125.6em));
}


/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

/*
========================================
Text Animations
========================================
*/

#closed-captions p {
	opacity: 0;
    color: #fff;
    font-size: 1em;
    margin-top: 2em;
    padding: .8em 2em;
    transition: all .5s;
    border-radius: .4em;
}

#closed-captions .on {
	opacity: 1;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */

.p0.on span:nth-of-type(3),
.p0.on span:nth-of-type(4) {
    font-weight: 800;
}

.p2.on span:nth-of-type(3),
.p2.on span:nth-of-type(4) {
    font-weight: 800;
}

.p11.on span:first-of-type {
    font-size: 1em;
	transition: all .3s ease;
}
.p11.on span:nth-of-type(7) {
	font-size: 0.9em;
}
.p11.on span:nth-of-type(8) {
	font-size: 0.8em;
}
.p11.on span:nth-of-type(9) {
	font-size: 0.7em;
}

.p14.on span:nth-of-type(3),
.p14.on span:nth-of-type(4) {
    font-style: italic;
}

.p17.on span:first-of-type {
	transition: all .3s ease;
}
.p17.on span:nth-of-type(4) {
	font-size: 0.9em;
}
.p17.on span:nth-of-type(5) {
	font-size: 0.8em;
}
.p17.on span:nth-of-type(6) {
	font-size: 0.7em;
}
.p17.on span:nth-of-type(7) {
	font-size: 0.6em;
}
.p17.on span:nth-of-type(8) {
	font-size: 0.5em;
}

.p18.on span:nth-of-type(1),
.p18.on span:nth-of-type(2) {
    font-weight: 800;
}

.p21.on span:nth-of-type(1) {
    font-style: italic;
}

.p24.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.3em;
    font-weight: 800;
    font-style: italic;
}
.p24.on span:after {
	content: "?!";
}

.p25.on span:nth-of-type(1),
.p25.on span:nth-of-type(2),
.p25.on span:nth-of-type(3) {
    font-style: italic;
}

.p29.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.3em;
    font-weight: 800;
    font-style: italic;
}

.p31.on span:nth-of-type(4) {
    font-style: italic;
} 

.p33.on span:first-of-type {
    font-size: 1em;
	transition: all .3s ease;
}
.p33.on span:nth-of-type(4) {
	font-size: 0.9em;
}
.p33.on span:nth-of-type(5) {
	font-size: 0.8em;
}
.p33.on span:nth-of-type(6) {
	font-size: 0.7em;
}

.p35.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.3em;
    font-weight: 800;
    font-style: italic;
}

.p37.on span:first-of-type {
    font-size: 1em;
	transition: all .3s ease;
}.p37.on span:nth-of-type(5) {
	font-size: 0.9em;
}
.p37.on span:nth-of-type(6) {
	font-size: 0.8em;
}
.p37.on span:nth-of-type(7) {
	font-size: 0.7em;
}
.p37.on span:nth-of-type(8) {
	font-size: 0.6em;
}

.p39.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.3em;
    font-weight: 800;
    font-style: italic;
}
.p39.on span:after {
	content: "!";
}

.p40.on span:nth-of-type(1),
.p40.on span:nth-of-type(2) {
    font-style: italic;
} 

.p47.on span:first-of-type {
    font-size: 1em;
	transition: all .3s ease;
}
.p47.on span:nth-of-type(3) {
	font-size: 0.9em;
}
.p47.on span:nth-of-type(4) {
	font-size: 0.8em;
}

.p48.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.1em;
    font-weight: 800;
}

.p49.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.1em;
    font-style: italic;
}

.p50.on span:nth-of-type(1),
.p50.on span:nth-of-type(2) {
    font-style: italic;
}

.p53.on span:nth-of-type(3),
.p53.on span:nth-of-type(6) {
    font-style: italic;
}

.p54.on span:nth-of-type(1) {
    font-weight: 800;
}

.p58.on span,
.p59.on span,
.p60.on span,
.p61.on span,
.p62.on span,
.p64.on span,
.p65.on span {
	transition: all .3s ease;
    font-size: 1.1em;
    font-family: "Brenner Sans Condensed";
    font-style: Italic;
    font-weight: 800;
}

.p63.on span:first-of-type {
	transition: all .3s ease;
    font-size: 1.3em;
    font-family: "Brenner MONO";
    font-style: italic;
}

.p66.on span:nth-of-type(2),
.p66.on span:nth-of-type(3) {
    font-style: italic;
}

.p69.on span:nth-of-type(3) {
    font-style: italic;
}

.p75.on span:nth-of-type(3) {
    font-style: italic;
}

.p76.on span:nth-of-type(2) {
    font-style: italic;
}

/*
========================================
Sound Animations
========================================
*/

.sound0 .video-area #video-placeholder {
    animation: knock .7s ease forwards;
}

@keyframes knock {
    0% {
        transform: translateY(-5%);
    }
    16.5% {
        transform: translateY(5%);
    }
    33% {
        transform: translateY(-5%);
    }
    49.5% {
        transform: translateY(5%);
    }
    66% {
        transform: translateY(-5%);
    }
    82.5% {
        transform: translateY(5%);
    }    
    100% {
        transform: translateY(-5%);
    }
}

.sound2 .alarm-red {
    animation: biep-rood 4.2s infinite;
    animation-timing-function: cubic-bezier:(0,.3,1,.7);
}

@keyframes biep-rood {
    0% { 
        background-color: rgba(99, 4, 4, 1);
        box-shadow: 0px 0px 10px 4px rgba(232,23,23,.0), inset 0px 0px 10px 3px rgba(99,4,4,0.0);
    }
    5% { 
        background-color: rgba(99, 4, 4, 1);
        box-shadow: 0px 0px 10px 4px rgba(232,23,23,.0), inset 0px 0px 10px 3px rgba(99,4,4,0.0);
    }
    10% {
        background-color: #e81717;
        box-shadow: 0px 0px 10px 4px rgba(232,23,23,.8), inset 0px 0px 10px 3px rgba(99,4,4,.8);
        
    }
    60% {
        background-color: #e81717;
        box-shadow: 0px 0px 10px 4px rgba(232,23,23,.8), inset 0px 0px 10px 3px rgba(99,4,4,.8);
        
    }
    65% { 
        background-color: rgba(99, 4, 4, 1);
        box-shadow: 0px 0px 10px 4px rgba(232,23,23,.0), inset 0px 0px 10px 3px rgba(99,4,4,0.0);
    }
    100% {
        background-color: rgba(99, 4, 4, 1);
        box-shadow: 0px 0px 10px 4px rgba(232,23,23,.0), inset 0px 0px 10px 3px rgba(99,4,4,0.0);
    }
}

.sound2 .Leon-emotion {
    animation: showLeon .5s ease 1 forwards;
}

.sound2 .Holden-emotion {
    animation: showHolden .5s ease 1 forwards;
}

@keyframes showLeon {
    from {
        transform: translateX(-50vw);
    }
    to {
        transform: translateX(0vw);
    }
}

@keyframes showHolden {
    from {
        transform: translateX(50vw);
    }
    to {
        transform: translateX(45vw);
    }
}

.sound16 .alarm-red {
    animation-iteration-count: 0;
}

.sound16 .text-area {
    background-color: rgba(48, 25, 25, 1);
}

.sound16 .video-area {
    background-color: rgba(30, 11, 11, 1);
}

.sound16 .video-area #video-placeholder {
    animation: heart .16s  alternate ease infinite;
}

.sound17 .video-area #video-placeholder {
    animation: heart .16s reverse ease;
    animation-iteration-count: 1;
}

@keyframes heart {
    0% {
		transform: scale(1);
        box-shadow: 0px 0px 10px 5px rgba(99, 4, 4, 0.2);
	}
    100% {
        transform: scale(1.1);
        box-shadow: 0px 0px 30px 10px rgba(99, 4, 4, 0.6);
    }
}


.sound17 .alarm-red {
    animation: biep-rood 4.2s infinite;
    animation-timing-function: cubic-bezier:(0,.3,1,.7);
}

.sound17 .text-area {
    background-color: rgba(25, 35, 50, 1);
}
.sound17 .video-area {
    background-color: rgba(10, 18, 28, 1);
}

.sound17 body {
    background-color: rgba(10, 18, 28, 1);
}



.sound5 .Holden-emotion {
    animation: showHolden4 .5s ease 1 forwards;
}

@keyframes showHolden4 {
    from {
        transform: translateX(45vw);
    }
    to {
        transform: translateX(40vw);
    }
}

.sound6 .Holden-emotion {
    animation: showHolden5 .5s ease 1 forwards;
}

@keyframes showHolden5 {
    from {
        transform: translateX(40vw);
    }
    to {
        transform: translateX(45vw);
    }
}

.sound7 .Holden-emotion {
    animation: showHolden6 .5s ease 1 forwards;
}

@keyframes showHolden6 {
    from {
        transform: translateX(45vw);
    }
    to {
        transform: translateX(40vw);
    }
}

.sound9 .Holden-emotion {
    animation: showHolden7 .5s ease 1 forwards;
}

@keyframes showHolden7 {
    from {
        transform: translateX(40vw);
    }
    to {
        transform: translateX(35vw);
    }
}

.sound9 .Leon-emotion {
    animation: showLeon3 .5s ease 1 forwards;
}

@keyframes showLeon3 {
    from {
        transform: translateX(-0vw);
    }
    to {
        transform: translateX(-5vw);
    }
}

.sound10 .Holden-emotion {
    animation: showHolden8 .5s ease 1 forwards;
}

@keyframes showHolden8 {
    from {
        transform: translateX(35vw);
    }
    to {
        transform: translateX(30vw);
    }
}

.sound10 .Leon-emotion {
    animation: showLeon4 .5s ease 1 forwards;
}

@keyframes showLeon4 {
    from {
        transform: translateX(-5vw);
    }
    to {
        transform: translateX(-15vw);
    }
}

.sound11 .Holden-emotion {
    animation: showHolden9 .5s ease 1 forwards;
}

@keyframes showHolden9 {
    from {
        transform: translateX(30vw);
    }
    to {
        transform: translateX(25vw);
    }
}

.sound11 .Leon-emotion {
    animation: showLeon5 .5s ease 1 forwards;
}

@keyframes showLeon5 {
    from {
        transform: translateX(-15vw);
    }
    to {
        transform: translateX(-20vw);
    }
}

.sound12 .Holden-emotion {
    animation: showHolden10 .5s ease 1 forwards;
}

@keyframes showHolden10 {
    from {
        transform: translateX(25vw);
    }
    to {
        transform: translateX(20vw);
    }
}

.sound12 .Leon-emotion {
    animation: showLeon6 .5s ease 1 forwards;
}

@keyframes showLeon6 {
    from {
        transform: translateX(-20vw);
    }
    to {
        transform: translateX(-25vw);
    }
}

.sound13 .Holden-emotion {
    animation: showHolden11 .5s ease 1 forwards;
}

@keyframes showHolden11 {
    from {
        transform: translateX(20vw);
    }
    to {
        transform: translateX(10vw);
    }
}

.sound14 .Holden-emotion {
    animation: showHolden12 .5s ease 1 forwards;
}

@keyframes showHolden12 {
    from {
        transform: translateX(10vw);
    }
    to {
        transform: translateX(15vw);
    }
}

.sound15 .Holden-emotion {
    animation: showHolden13 .5s ease 1 forwards;
}

@keyframes showHolden13 {
    from {
        transform: translateX(15vw);
    }
    to {
        transform: translateX(0vw);
    }
}

.sound15 .Leon-emotion {
    animation: showLeon7 .5s ease 1 forwards;
}

@keyframes showLeon7 {
    from {
        transform: translateX(-25vw);
    }
    to {
        transform: translateX(-30vw);
    }
}

.sound16 .Holden-emotion {
    animation: showHolden14 .5s ease 1 forwards;
}

@keyframes showHolden14 {
    from {
        transform: translateX(0vw);
    }
    to {
        transform: translateX(45vw);
    }
}

.sound16 .Leon-emotion {
    animation: showLeon8 .5s ease 1 forwards;
}

@keyframes showLeon8 {
    from {
        transform: translateX(-30vw);
    }
    to {
        transform: translateX(-50vw);
    }
}

.sound18 .iframe-ratio {
    animation: blur 4s ease forwards;
}

@keyframes blur {
    0% {
        filter: blur(0);
    }
    50% {
        filter: blur(1rem);
    }
    100% {
        filter: blur(0);
    }
}

.sound19 .Leon-emotion {
    animation: showLeon10 .5s ease 1 forwards;
}

@keyframes showLeon10 {
    from {
        transform: translateX(-50vw);
    }
    to {
        transform: translateX(-30vw);
    }
}

.sound20 .Holden-emotion {
    animation: showHolden17 .5s ease 1 forwards;
}

@keyframes showHolden17 {
    from {
        transform: translateX(45vw);
    }
    to {
        transform: translateX(0vw);
    }
}

/*https://developer.mozilla.org/en-US/docs/Web/CSS/filter*/
.sound20 .video-area,
.sound20 .ontainer{
    animation: gun-shot-1 1.5s forwards;
}

@keyframes gun-shot-1 {
    0% {
        background-color: rgba(10, 18, 28, 1);
        filter: none;
    }
    50% {
        background-color: rgba(255, 255, 255, 1);
        filter: blur(.3em) brightness(110%) saturate(110%); 
    }
    100% {
        background-color: rgba(10, 18, 28, 1);
        filter: none;
    }
}

.sound20 .Leon-emotion {
    animation: showLeon11 .5s ease 1 forwards;
}

@keyframes showLeon11 {
    from {
        transform: translateX(-30vw);
    }
    to {
        transform: translateX(-40vw);
    }
}

.sound21 .video-area,
.sound21 .ontainer{
    animation: gun-shot-2 1s forwards;
}

@keyframes gun-shot-2 {
    0% {
        background-color: rgba(10, 18, 28, 1);
        filter: none;
    }
    50% {
        background-color: rgba(255, 255, 255, 1);
        filter: blur(.3em) brightness(110%) saturate(110%); 
    }
    100% {
        background-color: rgba(10, 18, 28, 1);
        filter: none;
    }
}

.sound21 .Leon-emotion {
    animation: showLeon12 .5s ease 1 forwards;
}

@keyframes showLeon12 {
    from {
        transform: translateX(-40vw);
    }
    to {
        transform: translateX(-45vw);
    }
}

/*
========================================
Media Queries
========================================
*/

@media screen and (max-width: 840px) {
    #closed-captions {
        width: 70%;
        margin: auto;
    }
}

@media screen and (max-width: 640px) {
    .video-area .iframe-ratio {
        width: 90%;
    }
    
    #closed-captions {
        width: 95%;
        margin: auto;
    }
    
    .alarms-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: absolute;
        width: 100vw;
        height: 70vh;
    }

    .alarms:first-child {
        display: flex;
        flex-direction: row;
        width: 100vw;
        position: absolute;
        left: 0;
        top: 0;
    }

    .alarms:last-child {
        display: flex;
        flex-direction: row;
        width: 100vw;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .alarm-red {
        width: 10vw;
        height: 10vw;
        background-color: rgba(99, 4, 4, 1);
        box-shadow: 0px 0px 15px 1px rgba(0 ,0 ,0 ,1), inset 0px 0px 10px 3px rgba(99, 4, 4, 0.9);
        border-radius: 50%;
    }
}